streamlit>=1.32.2
pandas==2.2.1
plotly==5.19.0
numpy==1.26.4
requests==2.31.0
python-docx==1.1.0
google-generativeai==0.4.1
feedparser==6.0.10
Pillow==10.2.0
pyarrow==14.0.1
pydeck>=0.8.0
folium
streamlit-folium
geopy
feedparser
python-docx==1.1.0
beautifulsoup4
huggingface-hub==0.23.0
google-genai>=1.0.0
langgraph==1.2.8
websockets==15.0.1
trafilatura
